* {
    margin: 0%;
    padding: 0%;
}

.nav-style {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    display: block;
    overflow: hidden;
}

.nav-style ul li {
    float: left;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 10px;
}

.nav-style ul li a {
    text-decoration: none;
    color: seashell;
}

.left-col ul li {
    background-color: #404040;
    /* #2f262, #4c3c3c, #5f4c4c,  #c5aa6a, #404040  */
    padding: 8px 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.left-col ul .active  {
    background-color: crimson;
}

.right-col ul .active {
    background-color: crimson;
    color: linen;
}

.left-col ul li:hover {
    background-color:rgb(190, 2, 2);
    color: black;
    transition-duration: 0.4s;
}

.right-col {
    float: right;
    margin-right: 10px;
}

.right-col ul li button {
    padding: 8px 16px;
    border-radius: 0px;
    cursor: pointer;
    /* border: none; */
    /* text-decoration: none; */
    /* display: inline-block; */
    background-color: white;
    /* color: black; */
    border: 1px solid red;
    transition-duration: 0.4s;
}

.right-col ul li button:hover {
    background-color: red;
    color: whitesmoke;
    
}

.right-col ul li input {
    padding: 8px 16px;
}

/* Body Container work Start */

.body_container {
    display: flex;
}

.left_container {
    width: 18%;   
}

.right_container {
    width: 80%;
}

.tabcontent {
    width: 78%;
    margin-left: 30px;
}

.wrapper {
    margin: 15px 20px;
    display: block;
    overflow: hidden;
}

.left_container ul li a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 20px;
} 

.left_container ul li {
    list-style-type: none;
    background-color: rgb(105, 55, 8);
    padding: 8px 16px; 
    margin-bottom: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.left_container ul li:hover {
    background-color: rgb(218, 29, 66);
    /* transition-duration: 0.4s; */
}

.tabcontent {
    text-align: justify;
    transition-duration: 0.5s;
    display: none;
}

.header_1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header_2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header_3 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paragraph_1 {
    margin-right: 25px;
    margin-left: 5px;
}

.para h4 {
    text-align: center;
}

.post_row {
    display: flex;
    width: 100%;
    margin-top: 15px;
    transition-duration: 0.4s;
}

.book_post {
    width: 400px;
    margin-right: 48px;
}

.post_row img {
    width: 400px;
    height: 300px;
}

.header {
    text-align: center;
}

.index_footer {
    background-color: #404040;
    padding: 15px 25px;
    text-align: center;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    width: 100%;
    position: fixed;
    bottom: 0%;
}
/* .tabcontent{
    display: none;
} */

/* sign_up page design */

.sign_up_footer {
    background-color: #404040;
    padding: 15px 25px;
    text-align: center;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    position:fixed;
    bottom: 0%;
    width: 100%;
}

.article_footer {
    background-color: #404040;
    padding: 15px 25px;
    text-align: center;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    position:fixed;
    bottom: 0%;
    width: 100%;
}


.sign_up_container {
    box-sizing: border-box;
    margin: 50px;
    padding: 20px 40px;
    background-color: rgba(66, 138, 138, 0.664);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(8, 8, 8, 0.726);
}

.row {
    width: 100%;
    margin-top: 20px;
}

body .sign_up_registration {
    margin-top: 15px;
}

.sign_up_registration {
    text-align: center;
    font-size: 30px;
    background-color: #404040;
    color: orange;
    padding: 8px;
}

.col-25 {
    width: 25%;
    float: left;
}

.col-25 label {
    font-size: 25px;
}

.col-75 {
    width: 75%;
    display: inline-block;
    /* float: left; */
}

.col-75 input[type=text] {
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
}

.col-75 input {
    width: 100%;
    height: 40px;
}

.clear {
    clear: both;
}

.col-75 select, option {
    width: 100%;
    font-size: 20px;
    padding: 8px 16px;
}

.sign_up_submit input {
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    cursor: pointer;
}

/* ARITCLE PAGE DESIGN START HERE  */

.flex-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 10px;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex-row {
    box-sizing: border-box;
    border: 1px solid rgba(247, 239, 239, 0.726);
    box-shadow: 0px 0px 20px 0px rgb(212, 207, 207);
    background-color: whitesmoke;
}

.flex_image img {
    width: 420px;
    height: 300px;
}

.flex_header h3 {
    width: 420px;
    text-align: center;
}

.flex_body p {
    width: 420px;
    text-align: justify;
    padding: 15px;
    box-sizing: border-box;
}

/* sign_up page design */

.sign_up_footer {
    background-color: #404040;
    padding: 15px 25px;
    text-align: center;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    position:fixed;
    bottom: 0%;
    width: 100%;
}

.article_footer {
    background-color: #404040;
    padding: 15px 25px;
    text-align: center;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    position:fixed;
    bottom: 0%;
    width: 100%;
}

.sign_up_container {
    box-sizing: border-box;
    margin: 50px;
    padding: 20px 40px;
    background-color: rgba(66, 138, 138, 0.664);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(8, 8, 8, 0.726);
}

.row {
    width: 100%;
    margin-top: 20px;
}

body .sign_up_registration {
    margin-top: 15px;
}

.sign_up_registration {
    text-align: center;
    font-size: 30px;
    background-color: #404040;
    color: orange;
    padding: 8px;
}

.col-25 {
    width: 25%;
    float: left;
}

.col-25 label {
    font-size: 25px;
}

.col-75 {
    width: 75%;
    display: inline-block;
    /* float: left; */
}

.col-75 input[type=text], input[type=email], input[type=password] {
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
}


.col-75 input {
    width: 100%;
    height: 40px;
}

.clear {
    clear: both;
}

.col-75 select, option {
    width: 100%;
    font-size: 20px;
    padding: 8px 16px;
}

.sign_up_submit input {
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 10px;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex-row {
    box-sizing: border-box;
    border: 1px solid rgba(247, 239, 239, 0.726);
    box-shadow: 0px 0px 20px 0px rgb(212, 207, 207);
    background-color: whitesmoke;
}

.flex_image img {
    width: 420px;
    height: 300px;
}

.flex_header h3 {
    width: 420px;
    text-align: center;
}

.flex_body p {
    width: 420px;
    text-align: justify;
    padding: 15px;
    box-sizing: border-box;
}

/* contact page sytle start here */

.contact_container {
    box-sizing: border-box;
    margin-left: 1%;
    margin-top: 8%; 
    margin-right: 3%;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    margin-top: 30px;
}

.container_left {
    width: 50%;
    padding: 0px 0px;
    box-sizing: border-box;
    height: 440px;
}

.container_left label {
    font-size: 20px;
    text-align: center;
} 

 .label_clss {
    font-size: 20px;
    text-align: center;
    width: 20%;
    padding: 8px 16px;
    display: flex;
}

.input_clss[type=text], .input_clss[type=textarea], .input_clss[type=email] {
    width: 60%;
    float: right;
    padding-top: -71px;
    margin-top: -39px;
    padding: 9px;
    border: 1px solid black;
}

.submit_btn {
    float: right;
    margin-top: 170px;
    margin-right: -410px;
    padding: 8px 40px;
    cursor: pointer;
    border: 1px solid indianred;
} 

.submit_btn:hover {
    background-color: lightseagreen;
    transition-duration: 0.4s;
}

.container_right {
    float: right;
    margin-top: -455px;
    margin-right: 20px;
    width: 45%;
    padding: 20px;
}

.contact_iframe {
    padding: 60px 50px;
}

.row, .input_clss {
    resize: none;
}

/* about page is started here */
.about_container {
    display: grid;
    margin: 10px;
    height: auto;
}

.abt_row {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.about_para {
    width: 80%;
    font-size: 8vh;
    margin-top: 25px;
    margin-left: 40px;
}


.about_para p {
    font-size: 4vh;
    text-align: justify;
}

.img_cls img {
    width: 80%;
    float: right;
    padding: 2px;
    border: 2px solid teal;
    border-radius: 20px;
    margin-top: 38px;
    margin-right: 30px;
}

/* Recent Page design started here  */

.recent_container {
    display: grid;
    margin: 10px;
    height: auto;
}

.recent_row {
    /* width: 100%; */
    display: flex;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 15px;
    box-shadow:2px 2px 4px 1px
}

.para_1 {
    width: 65%;
    font-size: 8vh;
    margin-right: 20px;
}

.para_1 p {
    font-size: 3vh;
    text-align: justify;
}

.recent_img_cls {
    float: right;
    height: fit-content;
}

/* MEDIA QUERY START FOR INDEX/HOME PAGE  */

/* @media screen and (min-width) {
    * {
        box-sizing: border-box;
    }

    body {
        background-color: rgb(190, 2, 2);
    }

    .left-col ul li {
        
    }
} */

